<h1>Word Central</h1>

<h2>Submit text for inspection</h2>

<form action="/text_inspections/results" method="post">
  <label for="text_inspection_user_text">Text</label>
  <br>
  <textarea name="text_inspection[user_text]" id="text_inspection_user_text"></textarea>
  <br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit">Submit Text</button>
</form>


<p>Form under construction</p>
